@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #254779;
  --white: #fff;
  --background: #F4F4F4;
  --font: #292929;
  --icon: #9FA6B0;
}

.App {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--font);
}

/* Navbar */
.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header span {
  font-size: 12px;
}

.item-header-1 {
  padding: 15px 32px;
  background-color: var(--white);
  border-bottom: 2px solid #E9E9E9;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
  cursor: pointer;
}

.logo span{
  font-size: 24px;
  font-weight: 700;
  color: var(--font);
}

.item-header-1 .icon-search,
.item-header-1 .icon-shop{
  font-size: 20px;
  color: var(--icon);
}

.item-header-1 .wrap-search {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 35px;
}

.item-header-1 .wrap-search .form-control {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  z-index: 1;
}

.item-header-1 .wrap-search .form-control::placeholder {
  color: var(--icon);
  font-size: 16px;
}

.item-header-1 .wrap-search .form-control:focus {
  box-shadow: none;
  border: 1px solid var(--primary);
}

.item-header-1 .wrap-search .wrap-icon-search {
  background-color: #f3f4f5;
  position: absolute;
  right: 0;
  height: 100%;
  width: 5%;
  text-align: center;
}

.item-header-1 .wrap-icon-shop {
  position: relative;
  background-color: transparent;
  height: max-content;
  width: max-content;
  padding: 0px 8px 5px 8px;
  border-radius: 3px;
  transition-duration: 0.5s;
}

.item-header-1 .wrap-icon-shop:hover {
  background-color: #f3f4f5;
  cursor: pointer;
}

.item-header-1 .line {
  font-size: 26px;
  color: #cdcdcd;
  margin-bottom: 8px;
  font-weight: 100;
}

.header .btn {
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.header .btn:hover {
  border-radius: 8px;
  font-size: 14px;
  background-color: var(--primary);
  color: var(--white);
}

.header .btn2 {
  border-radius: 8px;
  font-size: 14px;
  background-color: var(--primary);
  color: var(--white);
}

.header .btn2:hover {
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.item-header-2 {
  padding: 8px 32px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

.img-indonesia {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--icon);
}

.header .item-header-2 span {
  color: var(--font);
  font-size: 16px;
}

.header .item-header-2 span:hover {
  color: var(--primary);
  cursor: pointer;
}

/* hero */
.hero {
  padding-top: 150px;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel .carousel-indicators button{
  background-color: #254779 ;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

/* category */
.category-content {
  padding-top: 40px;
}

.choice-category {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.choice-category h1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* category card */
.category-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11px 56px;
  border: 1px solid #9FA6B0;
  border-radius: 5px;
}

.category-card .category-name {
  font-size: 18px;
  font-weight: 600;
}

/* recommendation */
.recommendation {
  padding-top: 40px;
}

.header-recommendation {
  background-color: var(--white);
  border-radius: 5px 5px 0px 0px;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid var(--primary);
}

.header-recommendation {
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
}

/* product card */
.product-card {
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.product-card .product-img img{
  border-radius: 10px 10px 0px 0px;
}

.product-card .product-info {
  padding: 10px;
}

.product-card .product-info .product-name {
  font-size: 14px;
}

.product-card .product-info .product-price {
  font-size: 18px;
  font-weight: 600;
}

.product-card .product-info .rating {
  font-size: 14px;
  padding: 0;
}

.product-card .product-info .rating .star{
  color: #FFC400;
}

.recommendation .btn{
  margin-top: 50px;
  background-color: var(--white);
  border: 2px solid var(--primary);
  color: var(--primary);
  font-weight: 700;
  border-radius: 15px;
}

.recommendation .btn:hover{
  background-color: var(--primary);
  border: 2px solid transparent;
  color: var(--white);
}

/* about */
.about {
  border-top: 2px solid var(--primary);
  border-bottom: 1px dashed var(--icon);
  margin: 50px 0;
}

.about-content h3 {
  font-size: 16px;
  font-weight: 600; 
  margin-top: 30px;
}

.about .about-content p{
  font-size: 14px;
  color: #525151;
  text-align: justify;
}

.about .about-content li{
  font-size: 14px;
  font-weight: 600;
}

/* footer */
.footer {
  padding: 40px 0;
}

.footer-right .logo2{
  font-size: 32px;
}

.footer-right .logo2 span {
  color: #254779;
}

.footer-right p {
  font-size: 14px;
  text-align: justify;
}

.footer-right .sosial-media{
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
}

.footer-left h3 {
  font-size: 16px;
  color: var(--primary);
  font-weight: 600;
}

.footer-left h6 {
  font-size: 14px;
}

/* register page */
.register-page {
  height: 100vh;
}

.register-input {
  margin-top: 20px;
}

.register-left h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.register-left p {
  font-size: 14px;
}

.register-left a {
  text-decoration: none;
  color: var(--primary);
  font-weight:700;
}

.register-left .form-label {
  font-weight: 500;
}

.register-left .form-control::placeholder{
  font-size: 16px;
  color: #666565;
  font-weight: 300;
}

.register-right h1 {
  padding-top: 20px;
  font-size: 20px;
  color: var(--primary);
  font-weight: 700;
  text-align: center;
}

.register-left .btn3 {
  font-size: 14px;
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--white);
  width: 80%;
}

.register-left .btn3:hover{
  background-color: #fff;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.register-left .form-check-label {
  font-size: 14px;
}

.register-right p {
  font-size: 14px;
  text-align: center;
}

.register-right .image-register img{
  width: 100%
}


/* login page */
.login-page {
  height: 100vh;
}

.login-left {
  margin-top: 100px;
}

.login-left h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.login-left p {
  font-size: 14px;
}

.login-left a {
  text-decoration: none;
  color: var(--primary);
  font-weight:700;
}

.login-left .form-label {
  font-weight: 500;
}

.login-left .form-control::placeholder{
  font-size: 16px;
  color: #666565;
  font-weight: 300;
}

.login-right h1 {
  padding-top: 20px;
  font-size: 20px;
  color: var(--primary);
  font-weight: 700;
  text-align: center;
}

.login-left .btn3 {
  font-size: 14px;
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--white);
  width: 80%;
}

.login-left .btn3:hover{
  background-color: #fff;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.login-left .form-check-label {
  font-size: 14px;
}

.login-right p {
  font-size: 14px;
  text-align: center;
}

.login-right .image-login img{
  width: 100%
}

/* profile page */
.profile-page {
  padding-top: 150px;
  margin-bottom: 100px;
  height: 100vh;
}

.profile-page a {
  color: var(--font);
}

.user-profile .img-profile img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-profile h1 {
  font-size: 16px;
  font-weight: 500;
}

.user-profile p {
  font-size: 12px;
  color: var(--icon);
}

.nav .nav-link-profile {
  font-size: 15px;
}

.nav .nav-item-profile{
  font-size: 14px;
  padding-left: 48px;
}

.profile-right {
  background-color: var(--white);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.profile-right h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.profile-right p {
  font-size: 12px;
  color: var(--icon);
}

.profile-right label {
  font-weight: 500;
}

.profile-right .btn3 {
  margin-top: 30px;
  font-size: 14px;
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--white);
}

.profile-right .btn3:hover{
  background-color: #fff;
  border: 1px solid var(--primary);
  color: var(--primary);
}


