@media screen and (max-width: 575.98px) {
  /* Navbar */
  .item-header-1 .navbar-logo {
    display: none;
  }

  .item-header-1 .wrap-search .wrap-icon-search {
    width: 15%;
  }

  .item-header-1 .wrap-search {
    width: 100%;
  }

  .item-header-1 .wrap-search .form-control {
    width: 100%;
  }

  .item-header-1 .wrap-search .wrap-icon-search {
    left: 0;
    width: 20%;
  }

  .item-header-1 .wrap-search .form-control::placeholder {
    text-align: right;
    font-size: 14px;
  }

  .auth-button {
    margin-left: 10px;
  }

  .hero {
    display: none;
  }

  .hero-mobile {
    padding-top: 150px;
    display: block;
  }

  .carousel-item {
    width: 311px;
    height: 260px;
  }

  .category-content {
    padding-top: 50px;
  }

  /* login page */
  .login-left {
    width: 100%;
  }

  .login-right {
    display: none;
  }

  /* register page */
  .register-left {
    width: 100%;
  }

  .register-right {
    display: none;
  }

  /* page not found */
  .page-not-found .content {
    padding: 0;
  }

  .page-not-found .content h1 {
    font-size: 16px;
  }

  .page-not-found .content p {
    font-size: 12px;
  }

  .page-not-found .content .notefoundimage {
    margin-top: 120px;
  }

  .page-not-found .btn-back {
    font-size: 12px;
  }

  /* PaymentSuccess */
  .modal-content {
    padding: 5px;
  }

  .content .content-left {
    display: none;
  }

  .content .content-right h1 {
    font-size: 16px;
  }

  .content .content-right h3 {
    font-size: 14px;
  }

  .content .content-right h4 {
    font-size: 14px;
  }

  .content .content-right .total {
    font-size: 16px;
  }

  .content .content-right .line {
    margin-top: 10px;
  }

  .modal-content .modal-header .btn-close {
    width: 10px;
    height: 10px;
    right: 0;
    top: 0;
  }

  /* sidebar */
  .ps-menu-root {
    display: block;
  }

  .sidebar nav {
    padding-top: 130px;
  }

  .sidebar-button {
    margin-top: -20px;
  }

  .sb-button {
    position: absolute;
    background-color: #254779;
    color: #fff;
    font-size: 24px;
    border: transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    right: 10px;
  }

  /* Address Page */
  .address-input .header-address h1 {
    font-size: 18px;
  }

  .address-input .header-address button {
    font-size: 12px;
    padding: 5px 15px;
  }

  .address-input .main-address {
    padding: 15px;
  }

  .address-input .main-address h1 {
    font-size: 16px;
    padding-top: 10px;
  }

  .main-address h1 {
    font-size: 14px;
  }

  .main-address .address-user h2 {
    font-size: 16px;
  }

  .main-address .address-user span {
    font-size: 12px;
  }

  .main-address .address-user h3 {
    font-size: 14px;
  }

  .main-address .address-user .active {
    font-size: 14px;
  }

  .main-address .address-user button {
    font-size: 14px;
  }

  .main-address .address-map h2 {
    font-size: 16px;
  }

  .main-address .address-map button {
    font-size: 12px;
  }

  /* Product State Page */
  .product-state {
    padding: 15px;
    margin-top: 10px;
  }

  .product-state .product-state-header {
    margin-bottom: 10px;
    padding: 8px 0;
  }

  .product-state-header h1 {
    font-size: 16px;
  }

  .card-product-state {
    border-bottom: 1px solid var(--icon);
    margin-bottom: 15px;
  }

  .main-product-state .card-product-state .product-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .main-product-state .card-product-state .product-img img {
    width: 100%;
  }

  .main-product-state .card-product-state .product-info h1 {
    font-size: 16px;
    margin: 0;
  }

  .main-product-state .card-product-state .product-info p {
    font-size: 12px;
  }

  .main-product-state .card-product-state .action button {
    font-size: 12px;
  }

  /* Promo Product Page */
  .promo-product {
    padding: 15px;
    margin-top: 15px;
  }

  .promo-product-header h1 {
    font-size: 16px;
  }

  .main-promo-product .card-promo-product .product-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .main-promo-product .card-promo-product .product-info h1 {
    font-size: 16px;
    margin: 0;
  }

  .main-promo-product .card-promo-product .product-info p {
    font-size: 12px;
  }

  .main-promo-product .card-promo-product .action button {
    font-size: 12px;
  }

  /* Admin Product Page*/
  .admin-product {
    overflow-x: scroll;
  }

  .list-product {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  /* navbar */
  .item-header-1 .wrap-search .wrap-icon-search {
    width: 15%;
  }

  /* category card */
  .category-card {
    padding: 10px 40px;
  }

  /* recommendation */
  .header-recommendation {
    font-size: 20px;
    padding: 8px;
  }

  .product-card .product-info .product-price {
    font-size: 16px;
  }

  .recommendation .btn {
    margin-top: 30px;
  }

  /* footer */
  .footer {
    padding: 10px 0;
  }

  .footer-right .logo2 {
    font-size: 24px;
  }

  .footer-right p {
    font-size: 12px;
  }

  .footer-left h3 {
    font-size: 14px;
  }

  .footer-left h6 {
    font-size: 12px;
  }

  /* page not found */
  .page-not-found .content {
    padding: 150px;
  }

  .page-not-found .content h1 {
    font-size: 24px;
  }

  .page-not-found .content p {
    font-size: 14px;
  }

  .page-not-found .content .notefoundimage img {
    width: 250px;
  }

  .page-not-found .content .btn-back {
    font-size: 14px;
  }

  /* PaymentSuccess */
  .modal-content {
    padding: 5px;
  }

  .content .content-right h1 {
    font-size: 16px;
  }

  .content .content-right h3 {
    font-size: 14px;
  }

  .content .content-right h4 {
    font-size: 14px;
  }

  .content .content-right .total {
    font-size: 16px;
  }

  .content .content-right .line {
    margin-top: 10px;
  }

  .modal-content .modal-header .btn-close {
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
  }

  /* sidebar */
  .ps-menu-root {
    display: block;
  }

  .sidebar nav {
    padding-top: 130px;
  }

  .sidebar-button {
    margin-top: -20px;
  }

  .sb-button {
    position: absolute;
    background-color: #254779;
    color: #fff;
    font-size: 24px;
    border: transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    right: 10px;
  }

  /* Address Page */
  .address-input .header-address h1 {
    font-size: 20px;
  }

  .address-input .header-address button {
    font-size: 14px;
    padding: 5px 15px;
  }

  .address-input .main-address {
    padding: 15px;
  }

  .address-input .main-address h1 {
    font-size: 18px;
    padding-top: 10px;
  }

  .main-address h1 {
    font-size: 16px;
  }

  .main-address .address-user h2 {
    font-size: 18px;
  }

  .main-address .address-user span {
    font-size: 14px;
  }

  .main-address .address-user h3 {
    font-size: 16px;
  }

  .main-address .address-user .active {
    font-size: 14px;
  }

  .main-address .address-user button {
    font-size: 14px;
  }

  .main-address .address-map h2 {
    font-size: 16px;
  }

  .main-address .address-map button {
    font-size: 14px;
  }

  /* Product State Page */
  .product-state {
    padding: 15px;
    margin-top: 10px;
  }

  .product-state .product-state-header {
    margin-bottom: 10px;
    padding: 8px 0;
  }

  .product-state-header h1 {
    font-size: 16px;
  }

  .card-product-state {
    border-bottom: 1px solid var(--icon);
    margin-bottom: 20px;
  }

  .main-product-state .card-product-state .product-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .main-product-state .card-product-state .product-info h1 {
    font-size: 18px;
    margin: 0;
  }

  .main-product-state .card-product-state .product-info p {
    font-size: 14px;
  }

  .main-product-state .card-product-state .action button {
    font-size: 12px;
  }

  /* Promo Product Page */
  .promo-product {
    padding: 15px;
    margin-top: 15px;
  }

  .promo-product-header h1 {
    font-size: 16px;
  }

  .main-promo-product .card-promo-product .product-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .main-promo-product .card-promo-product .product-info h1 {
    font-size: 18px;
    margin: 0;
  }

  .main-promo-product .card-promo-product .product-info p {
    font-size: 14px;
  }

  .main-promo-product .card-promo-product .action button {
    font-size: 14px;
  }

  /* Admin Product Page*/
  .list-product {
    padding-top: -120px;
    font-size: 14px;
  }

  td .btn {
    font-size: 12px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .item-header-1 .wrap-search .wrap-icon-search {
    width: 5%;
  }

  .product-card .product-info .product-price {
    font-size: 16px;
  }

  .recommendation .btn {
    margin-top: 30px;
  }

  /* footer */
  .footer {
    padding: 40px 0;
  }

  .footer-right .logo2 {
    font-size: 32px;
  }

  .footer-right p {
    font-size: 14px;
    text-align: justify;
  }

  .footer-right .sosial-media {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
  }

  .footer-left h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .footer-left h6 {
    font-size: 14px;
  }

  /* page not found */
  .page-not-found {
    height: 100vh;
  }

  .page-not-found .content {
    padding: 150px;
  }

  .page-not-found .content h1 {
    font-size: 32px;
    font-weight: 600;
  }

  .page-not-found .content p {
    font-size: 20px;
  }

  .page-not-found .content .notefoundimage img {
    width: 344px;
  }

  .page-not-found .content .btn-back {
    font-size: 18px;
    border-radius: 15px;
  }

  /* PaymentSuccess */
  .content .content-right h1 {
    font-size: 20px;
  }

  .content .content-right h3 {
    font-size: 16px;
  }

  .content .content-right h4 {
    font-size: 16px;
  }

  .content .content-right .total {
    font-size: 18px;
  }

  .modal-content .modal-header .btn-close {
    width: 40px;
    height: 40px;
  }

  .profile-admin {
    padding-top: 125px;
    overflow-x: hidden;
  }
  
  .sidebar nav {
    padding-top: 0;
  }
}
