@media screen and (max-width: 575.98px) {
  .item-header-1  {
    position: relative;
  }

  .item-header-1 .logo h1{
    display: none;
  }

  .item-header-1 .logo .img-ewasons {
    display: none;
  }

  .item-header-1 .wrap-search {
    position: absolute;
    width: 65%;
  }

  .item-header-1 .wrap-search .wrap-icon-search {
    background-color: #f3f4f5;
    position: absolute;
    right: 0;
    height: 100%;
    width: 15%;
    text-align: center;
  }

  .item-header-1 .wrap-icon-shop svg{
    margin-right: 30px;
    font-size: 26px;
  }

  .item-header-1 .line {
    display: none ;
  }

  .item-header-1 .authentication-button button{
    display: none;
  }

  .hero {
    display: none;
  }

  .category-content {
    padding-top: 150px;
  }

  /* login page */
  .login-left {
    width: 100%;
  }

  .login-right {
    display: none;
  }

  .register-left {
    width: 100%;
  }

  .register-right {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  /* category card */
  .category-card {
    padding: 10px 40px;
  }

  /* recommendation */
  .header-recommendation {
    font-size: 20px;
    padding: 8px;
  }

  .product-card .product-info .product-price {
    font-size: 16px;
  }

  .recommendation .btn {
    margin-top: 30px;
  }

  /* footer */
  .footer {
    padding: 10px 0;
  }

  .footer-right .logo2 {
    font-size: 24px;
  }

  .footer-right p {
    font-size: 12px;
  }

  .footer-left h3 {
    font-size: 14px;
  }

  .footer-left h6 {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .product-card .product-info .product-price {
    font-size: 16px;
  }

  .recommendation .btn {
    margin-top: 30px;
  }
}
